.cartMainBody{
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
}

.cartyourselection{
    font-size: 50px;
    font-weight: 600;
}

.cartview{
    height: 100vh;
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cartcars{
    height: 100%;
    width: 65%;
}

.cartcard{
    width: 100%;
    height: 200px;
    border-style: solid;
    border-color: #64748B;
    border-width: 2px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 10px;
}

.cartcardimage{
    height: 100%;
    width: 30%;
    background-color: pink;
    margin-right: 20px;
}

.cartcardinfo{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.cartcarname{
    width: 100%;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}

.cartcarproperties{
    width: 100%;
    color: #64748B;
    font-weight: 600;
    margin-bottom: 10px;
}

.cartcarsaletypeandperioddiv{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cartcarsaletypeandperiodrow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

.cartcarsaletypeandperiodtitle{
    color: #64748B;
    font-weight: 600;
}

.cartcarsaletypeandperiod{
    color: black;
    font-weight: 600;
}

.cartcarprice{
    display: flex;
    flex-direction: row;
    justify-content: end;
    font-weight: 600;
    font-size: 40px;
    margin-top: 1px;
}

