.navBody{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 40px;
    box-sizing: border-box;
    background-color: white;
    z-index: 9999;
}

.logodiv{
    width: 20%;
    color: #121417;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    padding-left: 50px;
    box-sizing: border-box;
    justify-content: start;
    align-items: center;
}
.pagesdiv{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.searchdiv{
    width: 20%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.discovernav, .searchnav, .cartnav{
    text-decoration: none;
    color: #64748B;
    margin-right: 40px;
    font-size: 20px;
    font-weight: 700;
    transition: all 0.3s ease;
}

:is(.discovernav, .searchnav, .cartnav):hover{
    color: #0052FF;
}

.discovernav.active,
.searchnav.active,
.cartnav.active
{
    color: #0052FF;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    font-size: 22px;
    transition: all 0.3s ease;
}

.searchbox{
    height: 30px;
    width: 90%;
    padding-left: 10px;
    box-sizing: border-box;
    border-style: solid;
    border-color: #64748B;
    transition: all 0.2s ease;
}
