.discoverMainBody{
    margin-top: 60px;;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
}

.spotlightdiv{
    height: 50vh;
    margin-bottom: 25px;
}

.fleetpreviewdiv{
    height: 80vh;
}

.footer{
    height: 10%;
}